/* You can add global styles to this file, and also import other style files */
/* styles.css - global styles para Angular */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #f8f9fc;
    /* color de fondo global */
    color: #2d3748;
    /* color de texto global */
}

app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* asegura que ocupe todo el espacio disponible */
}

/* Opcional: reinicio de box-sizing para todo */
*,
*::before,
*::after {
    box-sizing: border-box;
}